# CS 167 Machine Learning
# Day 01 Part 2 exercises
note that each of these segments should be run in a different cell within an iPython Notebook

In [1]:
a=10
b=3.14
c = "machine learning"
d = 'hi'
e = 'x'
f = [1,2,3]
print(a,b,c,d,e,f)

10 3.14 machine learning hi x [1, 2, 3]

In [2]:
print("a's type:", type(a))
a = 'variables can change types'
print("a's type:", type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

a's type: <class 'int'>
a's type: <class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>

In [5]:
x = [1,2,3] 
y=x
x[0] = "abc" 
print(y)

['abc', 2, 3]

In [6]:
z = x[1]
x[1] = "what"
print(x)
print(z)
x.append(70)
x.insert(2,90)
print(x)

['abc', 'what', 3]
2
['abc', 'what', 90, 3, 70]

In [7]:
print( x.index(90) )
print( len(x) )
print( x+x )

2
5
['abc', 'what', 90, 3, 70, 'abc', 'what', 90, 3, 70]

In [8]:
my_list = [33, 55, 'hello','R2D2',7.8,'banana']
print( my_list[1:5] )
print( my_list[:4])
print( my_list[4:])
print( my_list[:])

[55, 'hello', 'R2D2', 7.8]
[33, 55, 'hello', 'R2D2']
[7.8, 'banana']
[33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [9]:
my_slice = my_list[1:5]
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University'])
my_list[:0] = ['Bulldogs']
print(my_list)

[55, 'hello', 'what', 7.8]
[33, 55, 'hello', 'R2D2', 7.8, 'banana']
[55, 'hello', 'R2D2', 7.8, 'Drake', 'University', 'Drake', 'University']
['Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [10]:
my_list = [42, 3.14, 'hello', ['ice', 'ice', 'baby']]
print(my_list[3][2])
print(my_list[2][1])

baby
e

In [11]:
my_tuple = (100,200,'300')
print(my_tuple[1])
my_dictionary = {'x':42, 'y':3.14}
print(my_dictionary['x'])

200
42

In [12]:
print(my_list[1][2])
my_tuple[1] = 0 
print(my_dictionary[1])

TypeError: ignored

In [13]:
x = int(input())
if x < 0:
    print("x is negative")
elif x % 2:
    print("x is positive and odd")
else:
    print("x is even and nonnegative")

num_list = [3, 7, 9,17, 2]
for num in num_list:
    print(num)

print(range(10,20))
for n in range(10,20):
    print(n)

5
x is positive and odd
3
7
9
17
2
range(10, 20)
10
11
12
13
14
15
16
17
18
19

In [15]:
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
# method 1
for element in my_data:
    print(element)

# method 2
for idx in range(len(my_data)):
    print(my_data[idx])

5.3
3.2
4.1
5.9
6.7
3.5
5.3
3.2
4.1
5.9
6.7
3.5